<div class="title">
  <%= form_for(@pokemon, :url => pokemon_path(@pokemon), :method => 'delete') do |f| %>
    <div class="delete-question">
      <p>Are you sure you want to permanetly delete this pokemon?</p>
    </div>  
    <p><%=f.object.name%></p>

    <div class="form-buttons">
      <%= f.submit("Delete Pokemon") %>
    </div>
  <% end %>
</div>
