<% if !flash[:notice].blank? %>
  <div class= "notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= will_paginate @pokemons %>
<% @pokemons.each do |pokemon| %>
  <%= render(:partial => 'card', :locals => {:pokemon => pokemon}) %>
<% end%>
