<h2>Editing <%= @sprite_set.sprites_on_type %> Sprite Set</h2>

<%= render "form", sprite_set: @sprite_set %>

<br>

<div>
  <%= link_to "Show this sprite set", @sprite_set %> |
  <%= link_to "Go back", :back %>
</div>
